<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center  my-auto">
        <h1 class="mb-1">TU BANCO</h1>
        <h3 class="mb-5">
            <em>simula tu banco</em>
        </h3>
        <a href="/login" class="btn btn-primary">
        Comencemos! </a>
        </div>
    </header>
</main>