<div class="container p-4">
    <div class="row">
        <div class="col-md4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Welcome {{user.fullname}}</h3>
                    <h4>{{user.username}}</h4>
                    <a href="/clientes" class="btn btn-primary">
                    administra tus datos bancarios</a>
                </div>
            </div>
        </div>
    </div>
</div>